body {
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: small;
    margin: 2.5%;
}
h1, h2 {
    font-size: x-large;
    border-bottom: thin dotted black;
}
h1 {
    font-family: "Emblema One", sans-serif;
    font-size: 220%;
    color: darkgoldenrod;
}
h2 {
    font-weight: normal;
    font-size: 130%;
    color:darkgoldenrod;
}
h3 {
    font-weight: lighter;
    font-size: 115%;
}
blockquote {
    font-style: italic;
}
.links {
    margin-left: 10%;
    margin-right: 10%;
}
p {
    color:black;
    margin-left: 10px;
    margin-right:10px;
}
#headLink {
    text-decoration: none;
    color: dimgrey;
}
#p1 {
    padding:0px;
}
a {
    color:black;
}
a:visited {
    color: green;
}
a:hover {
    color: red;
}
code {
    font-family: Consolas,"courier new";
    color: crimson;
    background-color: #f1f1f1;
    padding: 2px;
    font-size: 105%;
  }