body {
    font-family: sans-serif;
}
#canvas
{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}

#list1
{
    position: absolute;
    border-width: 3px;
    width: 200px;
    border-style: solid;
    border-color: rgb(0, 117, 212);
    height: 97vh;
    top: 8;
    left: 8;
}
#list1.text {
    padding-top: 5px;
    padding-left: 5px;
}

#list2 {
    position: absolute;
    border-width: 3px;
    width: 200px;
    border-style: solid;
    border-color: rgb(255, 94, 0);
    height: 97vh;
    top: 8;
    right: 8;
}
#list2.text {
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
}  

#list1 h2{
    width: 100%;
    color: rgb(0, 117, 212);
    font-family: sans-serif;
    text-align: center;
}

#list2 h2{
    width: 100%;
    color: rgb(255, 94, 0);
    font-family: sans-serif;
    text-align: center;
}
